/* shared style here */
*{
    margin: 0;
}

.title-color{
    color: #FD6E0A;
}

/* navigation style starts */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: black;
}

.nav-logo {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    color: rgb(0, 255, 255);
}

.nav-pagelinks {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: rgb(186, 186, 186);
}

.nav-pagelinks li {
    list-style: none;
}

.nav-pagelinks li:hover {
    color: aqua;
    cursor: pointer;
}

/* banner style starts */
.banner-container {
    /* width: 100%; */
    height: 100vh;

    background-image: url('../asset/image/background.jpg'), linear-gradient(rgb(60, 58, 58), rgb(60, 58, 58));
    background-blend-mode: overlay;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */


}

.banner-title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.banner-description {
    color: white;
    font-size: 18px;
    text-align: center;
    width: 500px;
    /* display: block; */
    margin: auto;
    margin: 20px 0px;
}

.banner-button{
    display: flex;
    justify-content: center;
}

.banner-button-1, .banner-button-2{
    margin: 10px;
    width: 150px;
    padding: 10px;
    border: 0;
    border-radius: 2px;
}

.banner-button-1{
    background-color: #FD6E0A;
    color: white;
}

/* service style starts */
.service-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    border: 2px solid;
    background-color: black;
}

/* service text style */
.service-text{
    width: 50%;
}

.btn-servise-list{
    padding: 10px 25px;
    border: 0;
    border-radius: 20px;
    font-size: 12px;
    color: grey;
}
.service-title{
    color: white;
    font-size: 40px;
    margin-top: 10px;
}

.service-description{
    color: white;
    font-size: 18px;
    margin: 20px 0px;

}

.service-container li{
    list-style: none;
    color: white;
    font-size: 18px;
}

.ceo{
    margin-top: 20px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* border: 1px solid red; */
    /* width: 400px; */
    
}

.ceo-detail{
    display: flex;
    align-items: center;
}

.ceo-image{
    width: 50px;
    border-radius: 25px;
}

.ceo-name{
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 40px;
}

.ceo-designation{
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
}

.demo-text{
    color: white;
    width: 60px;
}

.horizontal-line{
    transform:rotate(90deg); 
    border: 1px solid #FD6E0A;
    /* margin: 5px 30px;*/

}

.ceo-button{
    margin-left: 0px;
    width: 300px;
}

.btn-more-details{
    padding: 12px 20px;
    border: 0;
    border-radius: 20px;
    font-size: 10px;
    color: #FD6E0A;
}
/* service photos style */
.service-photos{
    display: flex;
}

.service-photo{
    border: 2px solid;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
    width: 250px;
    height: 250px;
    background-color: white;
}
.service-image{
    width: 80px;
    /* border: 2px solid; */
    display: block;
    margin: auto;
    padding-top: 60px;
}

.service-image-title{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

